.row {
  display: flex;
  justify-content: space-around;
}

.columnWrapper {
  width: 20%;
  min-height: 5rem;
}

.columnHeader {
  text-align: center;
}

.trelloItem {
  border: 1px solid white;
}

.modal {
  background-color: #F4F5F7;
  border-radius: 2px;
  margin: 48px 0 80px;
  min-height: 450px;
  width: 800px;
  outline: none;
  padding: 20px;
}

.overlay {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);;
}