.bottomRow {
  max-width: 100%;
  display: grid !important;
  gap: 0.5rem;
  grid-template-columns: 1fr;

  @media screen and (min-width: 750px) {
    grid-template-columns: 1fr 1fr !important;

  }


  @media screen and (min-width: 1200px) {
      grid-template-columns: 1fr 1fr 1fr 1fr !important;
  }
}

.dataCard {
  position: relative;
  height: 100%;
  width: calc(100% - 0.1rem);

  p {
    padding: 0.5rem 1rem;
    margin: 0;
  }

}